@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
    --font-primary: var(--font-dm-sans);
    --font-secondary: var(--font-open-sans);
    --primary: #43A047;
    -secondary: #1E88E5;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-primary: var(--font-dm-sans);
    --font-secondary: var(--font-open-sans);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-ubuntu);
}


.footer {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: calc(100% - 40px);
    border-radius: 35px;
    box-shadow: 0 0 20px #ddd;
    padding: 15px 20px;
}

.footer ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header{
    /* background-image: linear-gradient(to bottom, rgba(67, 160, 71, 0.9), rgba(67, 160, 71, 0)); */
    height: 250px;
    border-bottom: 1px solid #ddd;
}

.login-backdrop{
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}
.login-form{
    background-color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: calc(100% - 200px);
    border-radius: 30px 30px 0 0;


}