@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
    --primary: #008000;
    --secondary: #193D8B;
    --danger: #fb2c36;

}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-nunito);
    overflow-x: hidden;
}

a {
    color: var(--primary);
    text-decoration: none;
}


.Btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 30px;
    text-align: center;
    font-size: 18px;
    border-radius: 10px;
    font-weight: 600;
}
.BtnSm {
    padding: 7px 20px;
    font-size: 15px;
    border-radius: 7px;
}

.BtnOutlinePrimary {
    border: 1px solid var(--primary);
    color: var(--primary);
    background-color: transparent;
}

.BtnOutlinePrimary svg {
    fill: var(--primary);
}

.BtnOutlinePrimary:hover {
    background-color: var(--primary);
    color: var(--background);
}

.BtnOutlinePrimary:hover svg {
    fill: #fff;
}

.BtnOutlineSecondary {
    border: 1px solid var(--secondary);
    color: var(--secondary);
    background-color: transparent;
}

.BtnOutlineSecondary svg {
    fill: var(--secondary);
}

.BtnOutlineSecondary:hover {
    background-color: var(--secondary);
    color: var(--background);
}

.BtnOutlineSecondary:hover svg {
    fill: #fff;
}

.BtnPrimary {
    background-color: var(--primary);
    color: var(--background);
    border: none;
}

.InputItem {
    position: relative;
}

.InputItem label {
    position: absolute;
    cursor: text;
    z-index: 2;
    top: 13px;
    left: 10px;
    font-size: 14px;
    font-weight: 600;
    background: #fff;
    padding: 0 10px;
    color: #999;
    transition: all .3s ease
}

.InputItem input:focus+label,
.InputItem input:not(:placeholder-shown)+label,
.InputItem textarea:focus+label,
.InputItem textarea:not(:placeholder-shown)+label  {
    font-size: 12px;
    top: -9px;
    color: var(--secondary);
    font-weight: 700;
}
.InputItem input:focus,
.InputItem textarea:focus {
    border-color: var(--secondary);
}

.Input,
.Textarea {
    border: 1px solid #ddd;
    width: 100%;
    height: 50px;
    padding: 0 15px;
    border-radius: 10px;
    outline: none;
    font-weight: 600;
}
.Textarea{
    padding: 15px;
    height: 150px;
    resize: none;
}

.InputError{
    border: 1px solid var(--danger);
}
.ErrorMessage{
    color: var(--danger);
    font-size: 12px;
}

/*=======================================Loader==================================*/
.LoaderContainer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
}